<div class="container mb-2">
    <div class="box">
        <div class="imgCon d-flex justify-content-center align-items-center">
            <img src="assets/check-list.png">
        </div>
        <div class="titleCon d-flex justify-content-center align-items-center">
            <h1>Task System</h1>
        </div>
        <div class="briefCon d-flex justify-content-center align-items-center">
            <h5>This document provides an overview of the assigned tasks</h5>
        </div>
    </div>
</div>
